@model IEnumerable<quanLiRapPhim.Models.ThongKe>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NgayTK)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThangTK)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuyTK)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoanhThu)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NgayTK)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThangTK)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuyTK)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoanhThu)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IDThongKe">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IDThongKe">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IDThongKe">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
